.site-header{
    display: flex;
    
    border-bottom: 1px solid #e5e5e5;
}

.header-left{
    flex: 1;
    display: flex;
    padding-left: 16px;
    font-size: x-large;
    font-weight: 600;
    
}

.logo{
    color: inherit;
    text-decoration: none;
}

.nav{
    display: flex;
    gap: 50px;
    color: black;
    margin: 0;
    color: inherit;

}

.nav-link{
    color: inherit;
    text-decoration: none;
}


.header-center{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-right{
    flex: 1;
}